// 
// Made this custom scrollbar mainly for scrollbars that were nested in small containers. The default scrollbar looked ugly.
//

.scrollbar::-webkit-scrollbar {
    background-color:#fff;
    width:16px;
}
  
.scrollbar::-webkit-scrollbar-track {
    background-color:#fff;
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: #F5F6F8;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 177);
    border-radius:16px;
    border:5px solid #fff;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
}

.scrollbar::-webkit-scrollbar-button {
    display:none;
}
