/*
 * TIMELINE PAGE
 */
$widthBaseLeftTime:   80px;


/* Timeline */
.smart-timeline {	position: relative; }

.smart-timeline-list {
	list-style: none;
	margin: 0;
	padding: 0;

  &:after {
	  content: " ";
	  background-color: theme-color("light");
	  position: absolute;
	  display: block;
	  width: 2px;
	  top: 0;
	  left: $widthBaseLeftTime+25;
	  bottom: 0;
	  z-index: 1;
  }

  li {
	  position: relative;
	  margin: 0;
	  padding: 15px 0;
	  &:hover { background-color: #f9f9f9; }

  }
  > li:hover { background-color: theme-color("light"); }
}

.smart-timeline-icon {
	background: theme-color("primary");
	color: $white;
	border-radius: 50%;
	position: absolute;
	width: 35px;
	height: 35px;
	line-height: 28px;
	font-size: $font-size-base + 0;
	text-align: center;
	left: $widthBaseLeftTime+10;
	top: 10px;
	z-index: 100;
	padding: 5px 2px 2px 2px;

  > img {
	  height: 32px;
	  width: 32px;
	  border-radius: 50%;
	  margin-top: -2px;
	  margin-left: -2px;
	  border: 2px solid theme-color("primary");
  }
}



.smart-timeline-icon-primary {
  @extend .smart-timeline-icon;
  background: theme-color("primary");
}

.smart-timeline-icon-success {
  @extend .smart-timeline-icon;
  background: theme-color("success");
}


.smart-timeline-icon-info {
  @extend .smart-timeline-icon;
  background: theme-color("info");
}


.smart-timeline-icon-warning {
  @extend .smart-timeline-icon;
  background: theme-color("warning");
}


.smart-timeline-icon-danger {
  @extend .smart-timeline-icon;
  background: theme-color("danger");
}


.smart-timeline-icon-inverse {
  @extend .smart-timeline-icon;
  // background: $table-inverse-accent-bg;
}


 

.smart-timeline-time {
	float: left;
	width: $widthBaseLeftTime;
	text-align: right;
	
	> small { font-style: italic; }
}

.smart-timeline-content { margin-left: $widthBaseLeftTime+53px; }

